<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ feed.feed.title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
</head>
<body>

<!--we heard you like feeds so we put some feeds in the feeds, ya feedin feeder-->

    <div class="container">
        <h1>{{ feed.feed.title }}</h1>
        <ul>
            {% for entry in entries %}
            <li class="feed-entry">
                <h3>{{ entry.title }}</h3>
                <p>{{ entry.summary | safe }}</p>
                {% if entry.content %}
                <div>{{ entry.content[0].value | safe }}</div>
                {% else %}
                <div>{{ entry.description | safe }}</div>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
        <div class="pagination">
            {% if page > 1 %}
            <a href="{{ url_for('fetch_feed', feed_id=feed_id, page=page-1) }}">Previous</a>
            {% endif %}
            <span>Page {{ page }} of {{ total_pages }}</span>
            {% if page < total_pages %}
            <a href="{{ url_for('fetch_feed', feed_id=feed_id, page=page+1) }}">Next</a>
            {% endif %}
        </div>
        <a href="/">Back</a>
    </div>
</body>
</html>
